<h1 id="title">Streamers</h1>
<% @subreddits.each do |s| %>
    <p class="deck-container"><%= link_to s.title, s %></p>
<% end %>
<div class ="invisible-border"
     <% if logged_in? %>
        <%= form_for(@subreddit) do |f| %>
            <p>Create New Discussion</p>
            <%= f.text_field :title %>
            <%= f.submit %>
        <% end %>
        <% else %>
        <p>Moderator Log in to Create New Discussion</p>
    <% end %>
</div>
