<p>
    <h1><%= @subreddit.title %></h1>

    <h2>Posts</h2>
    <% @subreddit.posts.each do |p| %>
        <p><%= link_to p.title, subreddit_post_path(p.subreddit, p) %></p>
        <p><%= p.body %></p>
    <% end %>

    <p><%= link_to "New Post", new_subreddit_post_path(@subreddit) %></p>
</p>
